@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLQa6gm6bS00u2Qn-iPLo1Go.woff) format("woff");
}

@font-face {
  font-family: 'Yanone Kaffeesatz Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Yanone Kaffeesatz Bold"), local("YanoneKaffeesatz-Bold"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRbJjSLMfVFmTspsxH0yGxjj3rGVtsTkPsbDajuO5ueQw.woff) format("woff");
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local("Courgette Regular"), local("Courgette-Regular"), url(http://themes.googleusercontent.com/static/fonts/courgette/v2/BHG8ZtTfO0yYnp02--QxqrO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  src: local("Ruda Bold"), local("Ruda-Bold"), url(http://fonts.gstatic.com/s/ruda/v6/O-k3S73LHAJqYWbRX1H5gALUuEpTyoUstqEm5AMlJo4.woff2) format("woff2"), url(http://fonts.gstatic.com/s/ruda/v6/ZrgRU1eud8V3nc0zwHrO4ALUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/12mE4jfMSBTmg-81EiS-Yb3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format("woff");
}

/* line 18, ../sass/_ckedit_styles.scss */
.simplicity-content-image-left {
  float: left;
  border: 1px solid black;
  margin: 1em 1em 1em 0;
}

/* line 24, ../sass/_ckedit_styles.scss */
.simplicity-content-image-right {
  float: right;
  border: 1px solid black;
  margin: 1em 0 1em 1em;
}

/* line 30, ../sass/_ckedit_styles.scss */
.simplicity-content-image-center {
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 39, ../sass/_ckedit_styles.scss */
body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
}
/* line 44, ../sass/_ckedit_styles.scss */
body p {
  margin: 1em 0;
}
/* line 47, ../sass/_ckedit_styles.scss */
body #page-title {
  font-family: "Oswald", Charcoal, sans-serif;
  font-weight: 400;
}
/* line 52, ../sass/_ckedit_styles.scss */
body h2.simplicity-content-light-headline {
  font-family: "Oswald", Charcoal, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
/* line 57, ../sass/_ckedit_styles.scss */
body h2.simplicity-content-script-headline {
  font-family: "Courgette", zapf-chancery, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
/* line 62, ../sass/_ckedit_styles.scss */
body .clear-left {
  clear: left;
}
/* line 65, ../sass/_ckedit_styles.scss */
body .clear-right {
  clear: right;
}

/* line 71, ../sass/_ckedit_styles.scss */
a.sassy-button-blue {
  display: block;
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000080', endColorstr='#FF00001A');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000080), color-stop(100%, #00004d));
  background: -webkit-linear-gradient(#000080, #00004d);
  background: -moz-linear-gradient(#000080, #00004d);
  background: -o-linear-gradient(#000080, #00004d);
  background: linear-gradient(#000080, #00004d);
  -webkit-box-shadow: #0000cc 0 1px 0 inset;
  -moz-box-shadow: #0000cc 0 1px 0 inset;
  box-shadow: #0000cc 0 1px 0 inset;
  border: 1px solid #000034;
  color: white;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-blue:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-blue:hover {
  background-color: #000034;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000067), color-stop(100%, #000034));
  background: -webkit-linear-gradient(#000067, #000034);
  background: -moz-linear-gradient(#000067, #000034);
  background: -o-linear-gradient(#000067, #000034);
  background: linear-gradient(#000067, #000034);
}
/* line 39, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-blue:active {
  -webkit-box-shadow: #000024 0 1px 2px inset;
  -moz-box-shadow: #000024 0 1px 2px inset;
  box-shadow: #000024 0 1px 2px inset;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-blue.disabled, a.sassy-button-blue[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #00004d;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
a.sassy-button-blue::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 75, ../sass/_ckedit_styles.scss */
a.sassy-button-orange {
  display: block;
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF4500', endColorstr='#FF992900');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4500), color-stop(100%, #cc3700));
  background: -webkit-linear-gradient(#ff4500, #cc3700);
  background: -moz-linear-gradient(#ff4500, #cc3700);
  background: -o-linear-gradient(#ff4500, #cc3700);
  background: linear-gradient(#ff4500, #cc3700);
  -webkit-box-shadow: #ff7d4d 0 1px 0 inset;
  -moz-box-shadow: #ff7d4d 0 1px 0 inset;
  box-shadow: #ff7d4d 0 1px 0 inset;
  border: 1px solid #b33000;
  color: white;
  text-shadow: #7a2100 0 -1px 0;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-orange:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-orange:hover {
  background-color: #b33000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e63e00), color-stop(100%, #b33000));
  background: -webkit-linear-gradient(#e63e00, #b33000);
  background: -moz-linear-gradient(#e63e00, #b33000);
  background: -o-linear-gradient(#e63e00, #b33000);
  background: linear-gradient(#e63e00, #b33000);
}
/* line 39, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-orange:active {
  -webkit-box-shadow: #a32c00 0 1px 2px inset;
  -moz-box-shadow: #a32c00 0 1px 2px inset;
  box-shadow: #a32c00 0 1px 2px inset;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-orange.disabled, a.sassy-button-orange[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #cc3700;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
a.sassy-button-orange::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 79, ../sass/_ckedit_styles.scss */
a.sassy-button-green {
  display: block;
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF008000', endColorstr='#FF001A00');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008000), color-stop(100%, #004d00));
  background: -webkit-linear-gradient(#008000, #004d00);
  background: -moz-linear-gradient(#008000, #004d00);
  background: -o-linear-gradient(#008000, #004d00);
  background: linear-gradient(#008000, #004d00);
  -webkit-box-shadow: #00cc00 0 1px 0 inset;
  -moz-box-shadow: #00cc00 0 1px 0 inset;
  box-shadow: #00cc00 0 1px 0 inset;
  border: 1px solid #003400;
  color: white;
  text-shadow: black 0 -1px 0;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-green:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-green:hover {
  background-color: #003400;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006700), color-stop(100%, #003400));
  background: -webkit-linear-gradient(#006700, #003400);
  background: -moz-linear-gradient(#006700, #003400);
  background: -o-linear-gradient(#006700, #003400);
  background: linear-gradient(#006700, #003400);
}
/* line 39, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-green:active {
  -webkit-box-shadow: #002400 0 1px 2px inset;
  -moz-box-shadow: #002400 0 1px 2px inset;
  box-shadow: #002400 0 1px 2px inset;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-green.disabled, a.sassy-button-green[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #004d00;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
a.sassy-button-green::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 83, ../sass/_ckedit_styles.scss */
a.sassy-button-gray {
  display: block;
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF999999', endColorstr='#FF666666');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #808080));
  background: -webkit-linear-gradient(#999999, #808080);
  background: -moz-linear-gradient(#999999, #808080);
  background: -o-linear-gradient(#999999, #808080);
  background: linear-gradient(#999999, #808080);
  -webkit-box-shadow: #bfbfbf 0 1px 0 inset;
  -moz-box-shadow: #bfbfbf 0 1px 0 inset;
  box-shadow: #bfbfbf 0 1px 0 inset;
  border: 1px solid #737373;
  color: white;
  text-shadow: #575757 0 -1px 0;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-gray:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-gray:hover {
  background-color: #737373;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c8c8c), color-stop(100%, #737373));
  background: -webkit-linear-gradient(#8c8c8c, #737373);
  background: -moz-linear-gradient(#8c8c8c, #737373);
  background: -o-linear-gradient(#8c8c8c, #737373);
  background: linear-gradient(#8c8c8c, #737373);
}
/* line 39, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-gray:active {
  -webkit-box-shadow: #6b6b6b 0 1px 2px inset;
  -moz-box-shadow: #6b6b6b 0 1px 2px inset;
  box-shadow: #6b6b6b 0 1px 2px inset;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.sassy-button-gray.disabled, a.sassy-button-gray[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: gray;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../.rvm/gems/ruby-1.9.3-p547/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
a.sassy-button-gray::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
