@import "init";
@import "sassy-buttons";

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

.simplicity-content-image-left {
	float: left;
	border: 1px solid black;
	margin: 1em 1em 1em 0;
}

.simplicity-content-image-right {
	float: right;
	border: 1px solid black;
	margin: 1em 0 1em 1em;
}

.simplicity-content-image-center {
	border: 1px solid black;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


// TODO - We need to make the default font for the site Tahoma
body {
	// margin: 1em 3em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.1em;
  	line-height: 1.6em;
	p {
		margin: 1em 0;
	}
	#page-title {
		font-family: "Oswald", Charcoal, sans-serif;
		font-weight: 400;
		// font-size: 3em;
	}
	h2.simplicity-content-light-headline {
		font-family: "Oswald", Charcoal, sans-serif;
		font-weight: 400;
		font-size: 1.5em;
	}
	h2.simplicity-content-script-headline {
		font-family: $script-headline;
		font-weight: 400;
		font-size: 1.5em;
	}
	.clear-left {
		clear: left;
	}
	.clear-right {
		clear: right;
	}
}

a {
	&.sassy-button-blue {
		display: block;
		@include sassy-button("simple", 10px, 19px, $blue);
	}
	&.sassy-button-orange {
		display: block;
		@include sassy-button("simple", 10px, 19px, $orange);
	}
	&.sassy-button-green {
		display: block;
		@include sassy-button("simple", 10px, 19px, $green);
	}
	&.sassy-button-gray {
		display: block;
		@include sassy-button("simple", 10px, 19px, $gray);
	}
}
	
