/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

@media all and (min-width: 960px) {
	.page-course {
		.course-info {
			width: 100%;
			left: 0;
			right: 0;
			height: 116px;
			>div {
				width: 960px;
				position: static;
				top: 0;
				margin-right: auto;
				margin-left: auto;
				
				font-size: 40px;
				line-height: 45px;
				
				/* slogan */
				span {
					font-size: 20px;
				}

				
				h1 {
					font-size: 36px;
				}
				h2 {
					font-size: 24px;
					line-height: 24px;
					padding-top: 10px;
					height: 60px;
					background: -moz-linear-gradient(top,  rgba(255,255,255,1) 65%, rgba(255,255,255,0) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
					}
				ul {
					margin-top: 15px;
					background: #ffffff;
				}

				.progess-page {
				    width: 12px;
				    height: 9px;
					margin-right: 2px;
				    background: #777;
				    display: inline-block;
				    list-style-type: none;
				}

				.progess-page.selected {
				    background: #00ff00;
				}
			}
		}
		
		.course-page {
			margin-top: 100px;
			font-size: 18px;
			line-height: 28px;

		}	

		#navigation {
			margin-top: 0px;
			margin-right: -12px;
			padding: 0;
			&:before, &:after {
				content: none;
			}
			background: none;
			.menu {
				li {
					background: none;
					a {
						line-height: 10px;
						width: 90px;
						font-size: 14px;
					}
				}
			}
		}

	}
	.page-navigation {
    	a {
	    	text-decoration: none;
			@include sassy-button("simple", 10px, 19px, #2ca5c3);
			color: #ffffff;
			font-size: 16px;
			line-height: 20px;
			width: 200px;
			text-align: center;
			margin-bottom: 12px;
			display: block;
			&.prev {
				float: left;
			}
			&.next {
				float: right;
			}
    	}
	}

} 