

#page {
	z-index: 100;
}

#main {
	margin-top: 80px;
	padding-top: 26px;
	.pages {
		font-size: 16px;
		line-height: 17px;	
	}
	h1.title {
		font-size: 24px;
		margin: 0;
	}
}

h2 {
	line-height: normal;
}

#header {
	@include zen-grid-item(1, 1);
	background: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	.logo {
		background: url('../images/simplicity-small-icon.png');
		background-repeat: no-repeat;
	  	background-position: 95% 5%;
	  	position: absolute;
		
		top: 0;
		left: 0;

		height: 80px;
	  	/*margin: .2em auto 0 auto;*/

		width: 270px;

		.simplicity {
			font-family: $simplicity-logo-font;
			font-size: 2.5em;
			letter-spacing: -.03em;
			line-height: 1em;
			margin-left: .1em;
		}

		.simplicity-tag {
			font-family: $simplicity-tag_font;
			font-style: oblique;
			font-size: 1.2em;
			line-height: 1em;
			letter-spacing: .03em;
			text-align: center;
		}

		.simplicity-slogan {
			background: $highlight-color;
			margin-top: .2em;
			line-height: 2em;
			text-align: center;
			@include border-radius(3px);
			font-family: helvetica, sans-serif;
			font-size: .45em;
			font-weight: bold;
			letter-spacing: .15em;
		}
	}
}

#navigation {
	height: 3em;
	width: 90%;
    margin-top: -10px;
	margin-right: 4px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 500;

	#superfish-1-select {
		font-size: 20px;
	    font-family: Arial, sans-serif;
	    padding-top: 2px;
	    position: relative;
	    bottom: 2px;
	    outline: none;
	    border-top: 1px solid white;
	    border-right: 1px solid white;
	    border-left: 1px solid white;
	    border-bottom: 1px solid #999;
	    width:200px;
	}

	.menu-icon {
		margin-top: 10px;
		margin-right: -34px;
	}

	.menu {
		float: right;
		li {
			background: $highlight-color;
    		float: left;
    		padding: 0px;
			a {
				display: block;
				color: white;
			    font-family: "HelveticaNeue","Helvetica Neue","Segoe UI","Helvetica","Arial","Sans Serif";
			    font-size: 18px;
			    line-height: 33px;
			 	text-align: center;
			    padding: 10px;
			    text-decoration: none;
			    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
			    transition: all 200ms ease-in-out 0s;
			}
			
		}
		
	}
	
	ul li:hover {
		// needs latest Compass, add '@import "compass"' to your scss
		background-color: #49c0f0; // Old browsers
		@include filter-gradient(#49c0f0, #2cafe3, vertical); // IE6-9
		@include background-image(linear-gradient(top,  #49c0f0 0%,#2cafe3 100%));

	}
}

#secondary-menu {
	background: #333333;
	padding: .2em 2em;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	.inline li {
		margin: 0;
		padding:0;
	}
	a {
		color: #ffffff;
	}
}

.node-title, #page-title {
	font-family: $headline;
	font-size: 2.5em;
	a {
		text-decoration: none;
	}
}

#footer {
	background: $navigation-bg;
}

/*AngualrJs Course module styling here*/

.page-navigation {
    a {
    	text-decoration: none;
		@include sassy-button("simple", 10px, 19px, #2ca5c3);
		color: #ffffff;
		font-size: 16px;
		line-height: 20px;
		width: 200px;
		text-align: center;
		margin-bottom: 12px;
		display: block;
		&.prev {
			
		}
		&.next {

		}
    }
}

.button {
	text-decoration: none;
		@include sassy-button("simple", 10px, 19px, #2ca5c3);
		color: #ffffff;
		font-size: 16px;
		line-height: 20px;
		width: 200px;
		text-align: center;
		margin-bottom: 12px;
		display: block;
		color: black;
}
