@media all and (min-width: 960px) {
	
	#header {
		background: #dddddd url('../images/cccs_logo_transparent.png');
		background-repeat: no-repeat;
		background-position: 100% 0;
	  	height: 181px;
	  	width: 960px;
		
		position: relative;
		float: none;

		#secondary-menu {
			a {
				text-decoration: none;
				text-transform:uppercase;
			}
		}

		.logo {
			position: relative;
			margin: 1.5em 0 0 0;
			width: 420px;
			background: url('../images/simplicity-medium-icon.png');
			background-repeat: no-repeat;
	  		background-position: 95% 10%;
	  		height: 10em;
			.simplicity {
				font-size: 4em;
				letter-spacing: -.04em;
			}
			.simplicity-tag {
				font-family: Roboto, helvetica, sans-serif;
				font-style: oblique;
				font-size: 1.76em;
				margin-top: .28em;
				letter-spacing: .03em;
			}
			.simplicity-slogan {
				@include border-radius(7px);
				margin-top: .5em;
				font-size: .757em;
				font-weight: bold;
				letter-spacing: .1665em;
			}
		}
	}

.page-course .course-info
	 {
		width: 960px;
		position: fixed;
		left: auto;
		right: auto;
		top: 0;
		
		font-size: 30px;
		
		/* slogan */
		span {
			font-size: 20px;
		}

		
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 24px;
			line-height: 24px;
		}
		ul {

		}

		.progess-page {
		    width: 12px;
		    height: 9px;
			margin-right: 2px;
		    background: #777;
		    display: inline-block;
		    list-style-type: none;
		}

		.progess-page.selected {
		    background: #00ff00;
		}
	} 

	#main {
		margin-top: 0px;
		#content {
			padding: 0px 60px 0px 60px;
		}
	}
	
	#navigation {
		position: relative;
		width: 960px;
		margin-top: 0px;
		background: #2ca5c3;
		height: 3em;
	}

	#navigation:before {
	    content:"";
	    position:absolute;
	    z-index:-1;
	    top:100%;
	    left:0;
	    border-width:0 20px 20px 0;
	    border-style:solid;
	    border-color: transparent $navigation-corners;
	}

	#navigation:after {
	    content:"";
	    position:absolute;
	    z-index:-1;
	    top:100%;
	    left:97.9%;
	    border-width:0 0 20px 20px;
	    border-style:solid;
	    border-color:transparent $navigation-corners;
	}

}