

.page-course {

	z-index: 200;

	#header, .logo {
		display: none;
	}

	#main {
		margin-top: 70px;
	}

	#navigation {
		position: fixed;
		.menu-icon {
			margin-top: 0;
			margin-right: 12px;
		}
	}

	.course-info {
		background: #000000;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 300;
		border-bottom: 1px solid #333333;
		font-family: $simplicity-logo-font;
		font-size: 17px;
		letter-spacing: -1px;
		padding: 2px 0 2px 0;
		color: $highlight-color;
		/* slogan */
		span {
			font-family: $simplicity-tag_font;
			font-style: oblique;
			color: #ffffff;
			font-size: 14px;
		}

		.form-item {
			margin: 0;
		}
		
		h1, h2 {
			width: 100%;
			margin: 0;
			padding: 0 0 0 12px;
			/*background: #000000;*/
		}
		h1 {
			font-size: 24px;
			font-weight: normal;
			color: #ffffff;
		}
		h2 {
			font-size: 16px;
			line-height: 1.5em;
			background: #ffffff;
			color: #000000;
		}
		ul {
			margin: -1px -12px 0 0;
			padding: 0 0 0 12px;
			line-height: 6px;
			/*background: black;*/
		}

		.progess-page {
		    width: 12px;
		    height: 9px;
			margin-right: 2px;
		    background: #777;
		    display: inline-block;
		    list-style-type: none;
		}

		.progess-page.selected {
		    background: #00ff00;
		}
	}

}