/* Put simplicitycalifornia.org specifric styles here. */
/* Inserted at the end of the base stylesheet */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

@import "sassy-buttons";

body {
	background-color: #ffffff; // Old browsers
	.toolbar-drawer {
		padding-top: 1.7em;
	}
}

/*
	this is a complex theme - this breakout covers both the regular
	layout for this site plus the course pages which prioritize space
	over branding 
*/

@import "simplicity_variables";

@import "simplicity_navbar";

/*  tiny screens like smart phones  */
@import "simplicity_small";
@import "simplicity_course_page_small";

/*  medium screens like phablets/tablets  */
@import "simplicity_medium";
@import "_simplicity_course_page_medium.scss";

/*  large screens like laptops  */
@import "simplicity_large";
@import "simplicity_course_page_large";

@import "ckedit_styles";
/* @import "views_slider_styles"; */