@import "init";

.views-slideshow-controls-bottom .views-slideshow-pager-field-item {
	// float: left; 
	margin: 0 5px 0 0;
	}

.view-featured-slider {
	//background: #0D6D6C;
	// padding: .5em 0 0 1em;
	// border-radius: 3px; 
	// -moz-border-radius: 3px; 
	// -webkit-border-radius: 3px; 
	// border: 1px solid #fff;
	
}

.view-featured-slider .views_slideshow_pager_field_item {
	border-bottom: 1px solid #0D6D6C;
	border-top: 1px solid #0D6D6C;
	padding: .5em 0 .1em 0;
	margin-right: 1em;
}

.view-featured-slider .views-field-field-slider-photo .slider-caption {

}

.view-featured-slider {
	span > p {
		color: white;
		text-decoration: none;
		font-size: 24px;
		display: block;
		padding: 0 8px;
		// line-height: 26px;
		margin-top: -40px;
		font-family: 'Roboto Condensed';
		text-shadow: black 0.1em 0.1em 0.1em;
		background: light-gray;
	}
	
/* 
	background: #FFF100; */
	
}

.view-featured-slider .views-field-field-slider-photo .slider-caption a p {
	position: relative; 
	top: 6px
}

.view-featured-slider .views_slideshow_cycle_main {
	margin-top: .5em;
}

.view-featured-slider .views_slideshow_pager_field_item.active {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

.transparent {
	width: 100%; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;	
	-khtml-opacity: 0.5;
	opacity: 0.5;
}


// #block-views-featured-slider-block {
// 	margin-bottom: .5em;
// }
